<?xml version="1.0" encoding="utf-8"?>
<Project xmlns="http://schemas.microsoft.com/developer/msbuild/2003" ToolsVersion="4.0">
  <PropertyGroup>
    <XUnitPath>packages\xunit.runners.1.9.1\tools</XUnitPath>
    <NuGetPath>packages\NuGet.CommandLine.2.7.3\tools</NuGetPath>
    <NuGetPackageDependencyRoot>hyprlinkr</NuGetPackageDependencyRoot>
  </PropertyGroup>
  <ItemGroup>
    <BuildOutput Include="Hyprlinkr\bin\Release\Ploeh.Hyprlinkr.dll" />
    <BuildOutput Include="Hyprlinkr\bin\Release\Ploeh.Hyprlinkr.XML" />
  </ItemGroup>
  <ItemGroup>
    <TestAssemblies Include="**\bin\Release\*UnitTest*.dll" />
  </ItemGroup>
  <ItemGroup>
    <ProjectToBuild Include="*.sln" />
  </ItemGroup>
</Project>
